<% content_for :title, "Modifier compte | Unigecommunity" %>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>



<div class="container">
  <div class="row">

    <div class="col-md-6 my-5 edit-box text-center mx-auto">
      <h2>Modifier son profile</h2>
      <%= f.text_field :name, autofocus: true, class: 'form-control' %>
      <%= f.email_field :email, autofocus: true, class: 'form-control'  %>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

      <label for="avatar">Ajouter une photo: </label>  <%= f.file_field :avatar %> <br>

      <br />
      <%= f.password_field :password, placeholder: "nouveau mot de passe", class: "form-control" %>
      <%= f.password_field :password_confirmation, placeholder: "Confirmer mot de passe", class: "form-control" %>
      <i>(Laisser vide si tu ne vas pas changer le mot de passe)</i>

  <br>

      <%= f.password_field :current_password, placeholder: "Mot de passe actuel", class: "form-control" %>
      <i>(Pour confirmer les changements)</i> <br>
      <%= f.submit "Modifier", class: "btn btn-success my-2" %>
      <% end %>

      <br>
      <p>ou</p>
      <%= button_to "Supprimer mon compte", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %>
    </div>

  </div>
</div>
