<% content_for :title, "#{@topic.title} | Discussion" %>
<% content_for :description, "#{@topic.title} rejoins la discussion" %>
<div class="container my">
  <div class="row">
    <div class="col-12">
    <strong><h2>Sujet de la discussions: </strong> <%= @topic.title %></h2>
    <p>Publier par <%= @topic.user.name if present? %> il y a <%= time_ago_in_words(@topic.created_at) %> </p>
    <p><i class="fas fa-comments "></i> <%= @topic.opinions.count %> </p>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
    </div>
    <div id='opsfo' class="col-sm-12 col-lg-8 ">
          <%= render @topic.opinions %>
    </div>

    <div class="col-sm-12 col-lg">
      <%= render 'opinions/form' %>
      <div class="row">
        <div class="col-12">
          <div class="card" style="width:100%;">
  <div class="card-header" >
    Plus de discussions:
  </div>
  <ul class="list-group list-group-flush">
    <% @topics.each do |t| %>
    <li class="list-group-item"><i class="fas fa-comments "></i> <%= t.opinions.count %><%= link_to t.title, @topic, class: 'ml-4' %> </li>
    <% end %>
  </ul>
  <div class="card-header" >
  </div>
</div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="show" align="center"></div>
 <script>

 </script>
