<div class="container my">
  <div class="row">
    <div class="col-12">
    <strong><h2>Sujet de la discussions: </strong> <%= @topic.title %></h2>
    <p>Publier par <%= @topic.user.name if present? %> il y a <%= time_ago_in_words(@topic.created_at) %> </p>
    <p><%= @topic.opinions.count %> opinion</p>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 col-lg-8">
      <h2></h2>
          <%= render @topic.opinions %>
    </div>

    <div class="col-sm-12 col-lg">
      <%= render 'opinions/form' %>
      <div class="row">
        <div class="col-12">
          <div class="card" style="width:100%;">
  <div class="card-header">
    Plus de discussions:
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">L'amour est dans le pré  (+34 opinions)</li>
    <li class="list-group-item">Exam de corde a sauter  (+434 opinions)</li>
    <li class="list-group-item">Data science exam (+234 opinions)</li>
  </ul>
</div>
        </div>
      </div>
    </div>
  </div>
</div>
