<% content_for :title, "#{@user.name}" %>
<div class=" jumbotronprofile jumbotron  jumbotron-fluid">
<div class="row text-center">
  <div class="col-12">
    <% if @user.avatar.present? %>
    <%= image_tag @user.avatar.url, class: 'avatar mx-auto' %>
    <% end %>
  </div>
  <div class="col-12">
    <h4 class='profilename mx-auto'>
      <%= @user.name %>  <br>
      <span class='profilecategory'> <%= @user.category.category %><br>
    </h4>
  </div>
</div>
</div>

<br>
<br>
<br>

<div class="container my-5">
  <div class="row text-center">
    <div class="col-sm-12 col-lg m-2  profilebox">
      <h4 class='boxtitle'>Badges:
        <span style='font-size: 1rem;'><button type="button" style="border: none; background-color: transparent; color: blue;" data-toggle="modal" data-target="#exampleModal1">
        En savoir plus
      </button> </span></h4>
      <% if @user.posts.count <= 1 %>
      <div class="badge"  data-toggle= "tooltip" data-placement= "top" title= "Pour avoir rejoins UnigeCommunity">
        <img style='width: 100px;' src="https://image.flaticon.com/icons/svg/2826/2826429.svg"   alt="">
        <h5>Nouvel arrivant <i class="fas fa-info-circle"></i></h5>
        </div>
      <% elsif @user.posts.count < 10 %>
      <div class="badge"  data-toggle= "tooltip" data-placement= "top" title= "Pour avoir contribuer 2 fois ou plus" ">
      <img style='width: 100px;' src="https://image.flaticon.com/icons/svg/2828/2828290.svg"   alt="">
      <h5>Contributeur intermédiaire <i class="fas fa-info-circle"></i></h5>
      </div>

      <% elsif @user.posts.count >= 10 %>
      <div class="badge"  data-toggle= "tooltip" data-placement= "top" title= "Pour avoir contribuer 10 fois ou plus">
      <img style='width: 100px;' src="https://image.flaticon.com/icons/svg/1144/1144441.svg"   alt="">
      <h5>Contributeur expert <i class="fas fa-info-circle"></i></h5>
      </div>
      <% end %>
    </div>
    <div class="col-sm-12 col-lg m-2 profilebox">
      <h4 class='boxtitle'>Info:</h4>
      <hr>
      <h6><%= @user.email %></h6>
      <hr>
      <h6><%= @user.posts.count %> Contributions</h6>
      <hr>
    </div>
  </div>
</div>



<div class="container">
  <div class="row">
    <div class="col-12">
      <h1 class='title'>Contributions:</h1>
    </div>
    <% @user.posts.each do |p| %>
    <div class="col-sm-12  col-lg  my-4">
      <%= link_to p do %>
        <div  class="collection-box mx-auto card" style="width: 15rem">
          <!-- Checking if post picture is present, if not putting a default one.  -->
          <% if p.picture.present? %>
            <%= image_tag p.picture.url, class: " card-img-top" %>
          <% else %>
            <%= image_tag 'https://images.unsplash.com/photo-1558021212-51b6ecfa0db9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60', class: "card-img-top" %>
          <% end %>
          <div class="points-thumb">
          <i class="fas fa-heart"></i> <%=  p.weighted_score%>
          </div>
          <div class="post-body card-body">
            <p class="card-text"> <%= p.title %> </p>
            <%= p.sub_category.category %>
          </div>
        </div>
    </div>
      <% end %>

    <% end %>



    <!-- Modal -->
    <div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Les Bagdes</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="row text-center">
              <div class="col-sm-12 col-lg">
                <div class="badge"  data-toggle= "tooltip" data-placement= "top" title= "Pour avoir rejoins UnigeCommunity">
                  <img style='width: 80px;' src="https://image.flaticon.com/icons/svg/2826/2826429.svg"   alt="">
                  <h5><i class="fas fa-info-circle"></i></h5>
                  </div>
    </div>
                <div class="col-sm-12 col-lg">
                  <div class="badge"  data-toggle= "tooltip" data-placement= "top" title= "Pour avoir contribuer 2 fois ou plus" ">
                  <img style='width: 80px;' src="https://image.flaticon.com/icons/svg/2828/2828290.svg"   alt="">
                  <h5><i class="fas fa-info-circle"></i></h5>
                  </div>
              </div>

              <div class="col-sm-12 col-lg">
                <div class="badge"  data-toggle= "tooltip" data-placement= "top" title= "Pour avoir contribuer 10 fois ou plus">
                <img style='width: 80px;' src="https://image.flaticon.com/icons/svg/1144/1144441.svg"   alt="">
                <h5><i class="fas fa-info-circle"></i></h5>
                </div>
            </div>




          </div>
          <hr>
          <div class="text-center">
            <h4>Que sont les badges?</h4>
            <p>Simplement une manière de differencier les utilisateurs.</p>
          </div>
        </div>
      </div>
    </div>



    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Vous êtes sure?</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            Vous ne pourrez plus le récuperez.
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger"><%= link_to "Supprimer", p, method: :delete, class: "btn btn-danger" %></button>
          </div>
        </div>
      </div>
    </div>

    </div>
  </div>
