
    <nav class="navbar navbar-expand-lg navbar-light bg-dark sticky-top">
    <%= link_to "UNIGECOMMUNITY", "/", class: " mylogo"  %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">


        </ul>
        <ul class="navbar-nav mr-5">
          <form class="form-inline my-2 my-lg-0">


            <%- if user_signed_in? %>
            <%= link_to "Publier", new_post_path, class: "ml-3 btn mybtn "  %>
            <%= link_to "Forum", topics_path, class: "ml-3 btn mybtn "  %>
            <%= link_to "Profile", profile_path, class: "ml-3 btn mybtn"  %>

            <% else %>
              <li><%= link_to "Se connecter", new_user_session_path, class: "btn btn-success ml-3" %></li>
              <li><%= link_to "Rejoindre", new_user_registration_path, class: "btn btn-success ml-3" %></li>
            <% end %>
          </form>
        </ul>

      </div>
    </nav>
