<% content_for :title, "Connecte toi | Unigecommunity" %>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

<div class="container">
  <div class="row">
    <div class="col-md-6 login-box my-5 text-center">
      <h2>Hey, Connecte toi!</h2>
      <%= f.email_field :email, autofocus: true, placeholder: 'Your email', class: "form-control" %>
      <%= f.password_field :password, placeholder: 'Your password', class: "form-control"  %>
      <%= f.submit "Se Connecter", class: 'btn btn-primary' %>

      <% if devise_mapping.rememberable? %>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :souvenir %>
        </div>
      <% end %>
    <% end %>
    <br>
    <%= render "devise/shared/links" %>
    </div>

    <div class="col-md-6 my-4">
      <%= image_tag 'login.png', class:"login-img img-fluid" %>
    </div>
  </div>
</div>
