
<%= form_with(model: post, local: true) do |form| %>

<div class="container">
  <div class="row">
    <div class="col-md-6 my-5 mx-auto form-wrapper text-center">

      <% if post.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

          <ul>
            <% post.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <h1>Créer une Publication</h1>

        <%= form.text_field :title, placeholder: 'Titre', class: 'form-control' %>
        <%= form.text_area :body, placeholder: 'Description', class: 'form-control' %>
        <%= form.select :category_id, Category.order('category ASC').where(parent_id: nil).map {|c| [c.category, c.id] }, {prompt: "Choisis une faculté:"} %><br><br>
        <%= form.select :category_id, Category.order('category ASC').where.not(parent_id: nil).map {|c| [c.category, c.id] }, {prompt: "Choisis une matière:"} %><br><br>
        <label for="">Télécharger une image:     <%= form.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %></label>
        <label for="">Télécharger un Document:     <%= form.file_field :document %></label>
        <label for="">Télécharger un autre:     <%= form.file_field :document_two %></label>
        <%= form.submit "Publier", class: 'form-control btn btn-success'%>






      <% end %>
    </div>
  </div>
</div>
