<% content_for :title, "Unigecommunity" %>

<!-- Button trigger modal -->




<div class="jumbotron jumbotron-fluid">
  <div class="jumbocontainer">
    <h2 class="display-4">Bienvenue à UnigeCommunity</h2>
    <p class="lead"> Une manière plus simple d'étudier.</p>
  </div>
</div>


<div class="container">
  <!-- Two first options section -->
  <div data-aos="fade-down" class="row">
    <div class="col-12">
      <h2 class="title ml-5">Étudiez plus facilement <span class="span1">ensemble</span></h2>
      <h4 class="subtitle ml-5">Rejoins plus de <%= @user %> Étudiants.</h4>
    </div>
    <div class="col-sm-12 col-lg-6">
      <div class="header-box1 text-center">
        <br> <br><br>
        <h3 class="boxtitle">AIDEZ MA COMMUNAUTÉ</h3>
          <button type="button" data-toggle="modal" data-target="#exampleModal" class="button"><span> CONTRIBUER </span></button>
        
      </div>
    </div>
    <div class="col-sm-12 col-lg-6">
      <div class="header-box2 text-center">
        <br> <br> <br>
        <h3 class="boxtitle">CHERCHEZ UNE CONTRIBUTION</h3>
        <%= link_to categories_path do %>
          <button class="button"><span>CHERCHEZ </span></button>
        <% end %>
      </div>
    </div>
  </div>

  <!-- First options section end -->

  <!-- Artists of the week -->
  <div data-aos="fade-left" class="row">
    <div class="col-12">
      <%= search_form_for @q do |f| %>
        <div class="row">
          <div class="col-lg-10">
            <%= f.search_field :title_or_body_cont, class: 'form-control search-bar', placeholder: 'Search Post' %>
          </div>
          <div class="col-lg-2">
            <%= f.submit 'Search', class: 'button' %>
          </div>
        </div>
      <% end %>
      <h2 class="title">
        Découvre les contributions de la <span class="span1"> Semaine </span>
      </h2>
      <% if @posts.blank? %>
        <div class="col-sm-6 col-lg my-4">
          <h4 class="subtitle">Aucun post récent à afficher</h4>
        </div>
      <% else %>
        <h4 class="subtitle">Les plus récentes</h4>
      <% end %>
    </div>
    <% @posts.each do |p| %>

      <div class="col-sm-6 col-lg my-4">
        <%= link_to p do %>
          <div onmouseover="showProfile()" onmouseout="hideProfile()" class="collection-box card" style="width: 15rem">
            <% if p.picture.present? %>
              <%= image_tag p.picture.url, class: " card-img-top" %>
            <% else %>
              <%= image_tag 'https://images.unsplash.com/photo-1558021212-51b6ecfa0db9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60', class: "card-img-top" %>
            <% end %>
            <div class="post-body card-body">
              <p class="card-text"> <%= p.title %> </p>
              <%= p.category.category %> 
            </div>
          </div>
          </div>
        <% end %>
    <% end %>
    <br>
    <div class="col-12">
      <%= link_to 'VOIR PLUS', categories_path, class: 'mybtn button' %>
    </div>

    <!-- Artists of the week end -->

    <!-- Collections section -->
    <div data-aos="fade-right" class="row my-5 ">
      <div class="col-12 mb-3">
        <h2 class="title">
          Les Facultés sur <span class="span1">Unige <i class="fas fa-graduation-cap"></i></span>
        </h2>
        <h4 class="subtitle">
          Les facultés les plus visités de la semaine
        </h4>
      </div>

      <% @category.each do |category| %>
        <div class="text-center mt-4 col-sm-6 col-lg">
          <div class="collection-box card" style="width: 15rem">
            <% if category.catimage.url.present? %>
              <%= image_tag category.catimage.url, class: "card-img-top" %>
            <% end %>
            <div class="collection-body card-body">
              <h5 class="collection-title"><%= link_to category.category, category %></h5>
              <p class="card-text"><%= category.posts.count %> contributions</p>

            </div>
          </div>
        </div>
      <% end %>
    </div>
    <!-- Collections end -->

  </div>


  <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
      AOS.init({
          duration: 2000
      });
  </script>
</div>