<% content_for :title, "#{@post.title} | Unigecommunity" %>


    <% flash.each do |message_type, message| %>
     <div class="my-5 alert alert-<%= message_type %>">
       <%= message %>
     </div>
    <% end %>



<div class="container">
  <div class="row my-4">
    <div class="col">
        <% if @post.picture.present? %>
        <%= image_tag @post.picture.url, class: 'image-show m-2' %>
        <% else %>
        <%= image_tag 'https://images.unsplash.com/photo-1514369118554-e20d93546b30?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80', class: 'image-show m-2' %>
        <% end %>
    </div>

    <div class="col-3 m-2 post-details ">

      <h2> <%=  @post.title %> </h2>
      <hr>
      <p> <%=  @post.category.category %> </p>
      <hr>
      <p> <%= @post.body %> </p>
      <hr>
      <p> Documents: <br>

      <% if @post.document.present? %>
     <i class="far fa-file"></i>  <%= link_to @post.document_identifier, @post.document.url %>
     <% end %> <br>
     <% if @post.document_two.present? %>
     <i class="far fa-file"></i> <%= link_to @post.document_two_identifier, @post.document_two.url %> </p>
     <% end %>

    </div>


    <div class="col-3 m-2 post-details text-center">
      <% if @post.user.avatar.present? %>
        <%= image_tag @post.user.avatar.url, class: 'avatar m-2' %>
      <% end %>
      <h2> <%=  @post.user.name %> </h2>
      <hr>
      <p> <i class="far fa-envelope"></i> <%=  @post.user.email %> </p>
      <hr>
      <p>Contributions: <%= @post.user.posts.count %> </p>
      <hr>
      <em>Publier le <%= @post.created_at.to_date %></em>
    </div>
    </div>
    </div>
