
<div class="container">
  <div class="row my-4">
    <div class="col-7 m-2 post-show">
      <h3 class="my-2"> <strong>Titre:</strong> <em><%= @post.title %></em> </h3>
        <hr>
      <h4> <strong> Faculté: </strong> <em> <%= @post.category.category %></em></h4>
        <hr>
      <h4 class=""><strong>Description:</strong></h4>
          <p><em class=""><%= @post.body %></em></p>
      <%= image_tag @post.picture.url, class: ' mt-2' %>
    </div>



  <div class="col-4 m-2 post-details text-center">
    <h2> <%=  @post.user.name %> </h2>
    <hr>
    <p> <i class="far fa-envelope"></i> <%=  @post.user.email %> </p>
    <hr>
    <p>Contributions: <%= @post.user.posts.count %> </p>
    <hr>
  </div>
  </div>
</div>
